<div *ngIf="estudiante">
  <hr />

  <label>Id: </label><br />
  <input [(ngModel)]="estudiante.id" placeholder="Id"><br />

  <label>Edad: </label><br />
  <textarea [(ngModel)]="estudiante.edad" placeholder="Edad"></textarea><br />

  <label>Nombre: </label><br />
  <input [(ngModel)]="estudiante.nombre" placeholder="Nombre"><br />

  <label>Apellido: </label><br />
  <input [(ngModel)]="estudiante.apellido" placeholder="Apellido"><br />

   <label>Clases: </label><br />
  <input [(ngModel)]="estudiante.clases" placeholder="Clases"><br />

   <label>Grado: </label><br />
  <input [(ngModel)]="estudiante.grado" placeholder="Grado"><br />

   <label>Grupo: </label><br />
  <input [(ngModel)]="estudiante.grupo" placeholder="Grupo"><br />
</div>



<div *ngIf="profesor">
  <hr />

  <label>Id: </label><br />
  <input [(ngModel)]="profesor.id" placeholder="Id"><br />

  <label>Edad: </label><br />
  <textarea [(ngModel)]="profesor.edad" placeholder="Edad"></textarea><br />

  <label>Nombre: </label><br />
  <input [(ngModel)]="profesor.nombre" placeholder="Nombre"><br />

  <label>Apellido: </label><br />
  <input [(ngModel)]="profesor.apellido" placeholder="Apellido"><br />

   <label>Profesión: </label><br />
  <input [(ngModel)]="profesor.profesion" placeholder="Profesión"><br />

   <label>Grado: </label><br />
  <input [(ngModel)]="profesor.grado" placeholder="Grado"><br />

   <label>Grupo: </label><br />
  <input [(ngModel)]="profesor.grupo" placeholder="Grupo"><br />
</div>
