<div *ngIf="profesor">
    <hr />
    <label>Id: </label><br />
    <input [(ngModel)]="profesor.id" placeholder="name"><br />

    <label>Edad: </label><br />
    <textarea [(ngModel)]="profesor.edad" placeholder="Edad"></textarea><br />

    <label>Nombre: </label><br />
    <input [(ngModel)]="profesor.nombre" placeholder="Nombre"><br />

    <label>Apellido: </label><br />
    <input [(ngModel)]="profesor.apellido" placeholder="Apellido"><br />

    <label>Profesión: </label><br />
    <input [(ngModel)]="profesor.profesion" placeholder="Profesión"><br />

    <label>Grados: </label><br />
    <input [(ngModel)]="profesor.grados" placeholder="Grados"><br />

    <label>Grupos: </label><br />
    <input [(ngModel)]="profesor.grupos" placeholder="Grupos"><br />
</div>
