<div *ngIf="vehiculo">
  <hr />

  <label>Marca: </label><br />
  <input [(ngModel)]="vehiculo.marca" placeholder="Marca"><br />

  <label>Modelo: </label><br />
  <textarea [(ngModel)]="vehiculo.modelo" placeholder="Modelo"></textarea><br />

  <label>Color: </label><br />
  <input [(ngModel)]="vehiculo.color" placeholder="Color"><br />

  <label>Placa: </label><br />
  <input [(ngModel)]="vehiculo.placa" placeholder="Placa"><br />

   <label>Capacidad: </label><br />
  <input [(ngModel)]="vehiculo.capacidad" placeholder="Capacidad"><br />

   <label>Año Fabricación: </label><br />
  <input [(ngModel)]="vehiculo.annoFabricacion" placeholder="Año Fabricación"><br />

</div> 
