<div *ngIf="profesor">
  <hr />

  <label>Id: </label><br />
  <input [(ngModel)]="profesor.id" placeholder="Id"><br />

  <label>Edad: </label><br />
  <textarea [(ngModel)]="profesor.edad" placeholder="Edad"></textarea><br />

  <label>Nombre: </label><br />
  <input [(ngModel)]="profesor.nombre" placeholder="Nombre"><br />

  <label>Apellido: </label><br />
  <input [(ngModel)]="profesor.apellido" placeholder="Apellido"><br />

   <label>Profesion: </label><br />
  <input [(ngModel)]="profesor.profesion" placeholder="Clases"><br />

   <label>Grado: </label><br />
  <input [(ngModel)]="profesor.grado" placeholder="Grado"><br />

   <label>Grupo: </label><br />
  <input [(ngModel)]="profesor.grupo" placeholder="Grupo"><br />
</div>